---
layout: "layouts/base.njk"
---
<em>this is using artPage.njk</em>
{# next/prev post in collection?? #}
<p>Parent page: {{ parent }}</p>

<time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
<br/>

<p>{{ content | safe }}</p>

{% if hasImage %}
<img src="../../../images/{{ imageName }}" alt="{{ description }}" width="25%">
{% endif %}

{% for tag in tags | filterTagList%}
	{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
	<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}

{% include 'partials/prev-next.njk' %}