---
layout: "layouts/base.njk"
---
<em>this is using artPage.njk</em>
{# next/prev post in collection?? #}
<p>Parent page: {{ parent }}</p>

<time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
<br/>

<p>{{ content | safe }}</p>

{% if hasImage %}
<img src="../../../images/{{ imageName }}" alt="{{ description }}" width="25%">
{% endif %}

{% for tag in tags | filterTagList%}
	{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
	<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}

{# ser this to get posts by correct tag #}
{# get prev/next in arts #}
{% if collections.arts %}
{% set nextPost = collections.arts | getNextCollectionItem(page) %}
{% set previousPost = collections.arts | getPreviousCollectionItem(page) %}
{% if nextPost or previousPost %}
	<ul>
  		{% if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  		{% if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
  	</ul>
{% endif %}
{% endif %}