<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {# need to update css to expand to the whole site #}
    {# <link rel="stylesheet" href="{{ '/css/styles.css' | url }}"> #}
    <link rel="stylesheet" href="{{ '/css/new.css' | url }}">
</head>

<body style="background-color: #111; color: #ccc; font-family: sans-serif;">
  {% include 'partials/nav.njk' %}
  
  <em>this is using base.njk</em>

    <h1>{{ title }}</h1>
    <p>{{ content | safe }}</p>

    {# open external links in new tabs #}
    <script>
    (function () {
      const links = document.querySelectorAll("a[href^='https://'], a[href^='http://']")
      const host = window.location.hostname

      const isInternalLink = link => new URL(link).hostname === host

      links.forEach(link => {
        if (isInternalLink(link)) return

        link.setAttribute("target", "_blank")
        link.setAttribute("rel", "noopener")
      })
    })()
    </script>

    {% include 'partials/footer.njk' %}

    <hr />
    <p>page dump for debug</p>
    <ul>
      {% for post in collections.all %}
      <li><a href="{{ post.url }}">{{ post.url }}</a></li>
      {% endfor %}
    </ul>

</body>
    
</html>