---
layout: "layouts/base.njk"
---

{# next/prev post in collection?? #}
<p>Parent page: {{ parent }}</p>

<time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
<br/>

<p>{{ content | safe }}</p>

{% if hasImage %}
<img src="../../../images/{{ imageName }}" alt="{{ description }}" width="25%">
{% endif %}

{% for tag in tags %}
	{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
	<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}

{% include 'partials/prev-next.njk' %}