---
layout: "layouts/base.njk"
---
{# <em>this is using projectPage.njk</em> #}

<time datetime="{{ date | htmlDateString }}" class="text-500 gap-right-300 color-secondary"><em>{{ date | readableDate }}</em></time>

<p>{{ content | safe }}</p>

{% if hasImage %}
	<figure>
		<img src="../../../images/{{ imageName }}" alt="{{ description }}">
		<figcaption class="measure-medium text-400">
          <p>
   			{{ description }}
          </p>
        </figcaption>
	</figure>
{% endif %}

{% for tag in tags | filterTagList%}
	{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
	<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}

{% include 'partials/prev-next.njk' %}