---
title: " PARTS INSIDE "
parent: Art
description: 2019 show at The Living Gallery - Brooklyn, NY
date: 2019-12-03
tags: [ 'shows' ]
layout: layouts/base.njk
permalink: "{{ parent | slug }}/{{ title | slug }}/"
imageName: partsInside.png
public: True
---

{{ description }}

<div>
  {% for art in collections['parts inside'] | reverse %}
    {% if art.data.public %}
      {% include 'partials/art-entry.njk' %}
    {% endif %}
  {% endfor %}
</div>