---
title: Sleep Debtor
parent: Art
description: 2020 show at Stumptown Coffee Roasters - Brooklyn, NY
date: 2020-01-13
tags: [ 'shows' ]
layout: layouts/base.njk
permalink: "{{ parent | slug }}/{{ title | slug }}/"
imageName: sleepDebtor.png
public: True
---

{{ description }}

<div>
  {% for art in collections['sleep debtor'] | reverse %}
    {% if art.data.public %}
      {% include 'partials/art-entry.njk' %}
    {% endif %}
  {% endfor %}
</div>