---
title: " PARTS INSIDE "
description: 2019 show at The Living Gallery - Brooklyn, NY
date: 2019-12-03
tags: 
layout: layouts/base.njk
eleventyNavigation:
  key: Parts Inside
  parent: Art
permalink: "art/{{ title | slug }}/"
imageName: partsInside.png
public: True
---

{{ description }}

<div>
  {% for show in collections['parts inside'] | reverse %}
    {% if show.data.public %}
      {% include 'partials/show-entry.njk' %}
    {% endif %}
  {% endfor %}
</div>