---
title: " PARTS INSIDE "
description: 2019 show at The Living Gallery - Brooklyn, NY
date: 2020-01-13
tags: [ 'analog', 'painting' ]
layout: layouts/page.njk
eleventyNavigation:
  key: Sleep Debtor
  parent: Projects
permalink: "art/shows/{{ title | slug }}/"
imageName: partsInside.png
public: True
---

Voodoo god shrine-ware shoes Shibuya range-rover rebar refrigerator hacker order-flow tanto. Cyber-spook denim rifle boat jeans shoes engine computer drugs marketing receding bridge hotdog footage render-farm cardboard. 