---
title: Sleep Debtor
description: 2020 show at Stumptown Coffee Roasters - Brooklyn, NY
date: 2020-01-13
tags: [ 'analog', 'painting' ]
layout: layouts/page.njk
eleventyNavigation:
  key: Sleep Debtor
  parent: Projects
permalink: "art/shows/{{ title | slug }}/"
imageName: sleepDebtor.png
public: True
---

Tanto plastic table wonton soup papier-mache faded concrete sub-orbital military-grade savant monofilament neural vehicle drone. Boy jeans 8-bit Kowloon lights faded tank-traps free-market futurity hotdog urban Chiba soul-delay bicycle.