---
title: Sleep Debtor
description: 2020 show at Stumptown Coffee Roasters - Brooklyn, NY
date: 2020-01-13
tags: 
layout: layouts/base.njk
eleventyNavigation:
  key: Sleep Debtor
  parent: Art
permalink: "art/{{ title | slug }}/"
imageName: sleepDebtor.png
public: True
---

{{ description }}

<div>
  {% for show in collections['sleep debtor'] | reverse %}
    {% if show.data.public %}
      {% include 'partials/show-entry.njk' %}
    {% endif %}
  {% endfor %}
</div>