---
title: "Art"
layout: "layouts/base.njk"
permalink: "art/"
eleventyNavigation:
  key: Art
  order: 2
---

<h2>Shows</h2>
{# consider combing this partial with art-entry.njk #}
<div>
  {% for show in collections.shows | reverse %}
    {% if show.data.public %}
      {% include 'partials/show-entry.njk' %}
    {% endif %}
  {% endfor %}
</div>

<h2>Analog</h2>
<div>
  {% for art in collections.analog | reverse %}
    {% if art.data.public %}
      {% include 'partials/art-entry.njk' %}
    {% endif %}
  {% endfor %}
</div>

<h2>Digital</h2>
{# need to filter by digital #}
<div>
  {% for art in collections.digital | reverse %}
    {% if art.data.public %}
      {% include 'partials/art-entry.njk' %}
    {% endif %}
  {% endfor %}
</div>