---
title: "Art"
layout: "layouts/base.njk"
permalink: "art/"
eleventyNavigation:
  key: Art
  order: 2
---

<p>Analog and digital art.</p>

<h2>Shows</h2>
{# might be able to merge this in with the other arts? #}
<div>
  {% for show in collections.shows | reverse %}
    {% if show.data.public %}
      {% include 'partials/show-entry.njk' %}
    {% endif %}
  {% endfor %}
</div>

{# these two can go in the same directory and filter by analog or digital #}

<h2>Analog</h2>

<h2>Digital</h2>
<div>
  {% for art in collections.arts | reverse %}
    {% if art.data.public %}
{# {% if art.data.tags = 'digital' %} #}      
      {% include 'partials/art-entry.njk' %}
    {% endif %}
  {% endfor %}
</div>