---
title: "Art"
layout: "layouts/base.njk"
permalink: "art/"
eleventyNavigation:
  key: Art
  order: 2
---

<h2>Shows</h2>
  <h3>Sleep Debtor</h3>
  <p>Some text about this show that I did</p>
  <div>
  {% for art in collections['sleep debtor'] | reverse %}
    {% if art.data.public %}
      {% include 'partials/art-entry.njk' %}
    {% endif %}
  {% endfor %}
  </div>

  <h3>" PARTS INSIDE "</h3>
  <p>Some text about this show that I did</p>
  <div>
  {% for art in collections['parts inside'] | reverse %}
    {% if art.data.public %}
      {% include 'partials/art-entry.njk' %}
    {% endif %}
  {% endfor %}
  </div>


<h2>Analog</h2>
<div>
  {% for art in collections.analog | reverse %}
    {% if art.data.public %}
      {% include 'partials/art-entry.njk' %}
    {% endif %}
  {% endfor %}
</div>
<h2>Digital</h2>
<div>
  {% for art in collections.digital | reverse %}
    {% if art.data.public %}
      {% include 'partials/art-entry.njk' %}
    {% endif %}
  {% endfor %}
</div>

<h2>Or, just everything:</h2>
<div>
  {% for art in collections.arts | reverse %}
    {% if art.data.public %}
      {% include 'partials/art-entry.njk' %}
    {% endif %}
  {% endfor %}
</div>

{# old code #}
{# <div>
  {% for art in collections.digital | reverse %}
    {% if art.data.public %}
      {% include 'partials/art-entry.njk' %}
    {% endif %}
  {% endfor %}
</div> #}