---
title: "Gallery"
layout: "layouts/base.njk"
permalink: "gallery/"
eleventyNavigation:
  key: Gallery
  order: 3
---

<div>
hello - i dont know why this won't work with the "arts" collection
  {% for project in collections.projects | reverse %}
    {% if project.data.public %}
      {% include 'partials/project-entry.njk' %}
    {% endif %}
  {% endfor %}
</div>