---
title: "About & Brag Document"
layout: "layouts/base.njk"
permalink: "about/"
eleventyNavigation:
  key: About
  order: 4
---

{# <h1 class="bragdoc__header">{{ title }}</h1> #}
<div>
  <div>
    <img src="{{ '/images/lee.jpg' | url }}" style="width: 150px;">

    <h2>{{ data.myfullname }}</h2>
    <p>{{ data.myrole }}</p>

    <p>Blah blah bio here</p>

    <h2>Brag Document</h2>
    <h3>What's a Brag Document?</h3>
    <blockquote>Instead of trying to remember everything you did with your brain, maintain a "brag document" that lists everything so you can refer to it when you get to performance review season! This is a pretty common tactic – when I started doing this I mentioned it to more experienced people and they were like "oh yeah, I’ve been doing that for a long time, it really helps".<br /> 
    Where I work we call this a "brag document" but I’ve heard other names for the same concept like "hype document" or "list of stuff I did" :).<br />
    - Julia Evans: <a target="_blank" href="https://jvns.ca/blog/brag-documents/">Get your work recognized: write a brag document</a></blockquote>

{% for brag in collections.brags | reverse %}
  {% if brag.data.public %}
    {% include 'partials/bragdoc-entry.njk' %}
  {% endif %}
{% endfor %}
  </div>

</div>