---
title: Portfolio & Projects 
layout: "layouts/base.njk"
permalink: "/"
eleventyNavigation:
  key: Home
  order: 1
---

<h2>Hi, I'm Lee.</h2>

<p>I'm an artist and current grad student at Rutgers SC&I</p>
<p>figure out how to pull this in from about</p>

<p>currently leaving parent in frontmatter in case it is useful</p>