---
title: Portfolio & Projects 
layout: "layouts/base.njk"
permalink: "/"
eleventyNavigation:
  key: Home
  order: 1
---

<h2>Hi, I'm {{ data.myname }}.</h2>
<div>{{ data.myrole }}</div>


<p>currently leaving parent in frontmatter in case it is useful later</p>
