---
title: "Projects & Writing"
layout: "layouts/base.njk"
permalink: "projects/"
eleventyNavigation:
  key: Projects
  order: 3
---

<p>A selection of projects and writing done for work, school, or because I felt like it.</p>

<div>
  {% for project in collections.projects | reverse %}
    {% if project.data.public %}
      {% include 'partials/project-entry.njk' %}
    {% endif %}
  {% endfor %}
</div>

