<div>
    <ul>
        <li class="postlist-item{% if art.url == url %} artlist-item-active{% endif %}">
            <a href="{{ art.url | url }}" class="postlist-link">{% if art.data.title %}{{ art.data.title }}{% else %}<code>{{ art.url }}</code>{% endif %}</a>
            <p>{{ art.data.description | safe }}</p>
            <time datetime="{{ art.date | htmlDateString }}">{{ art.date | readableDate }}</time>
            {# {% for tag in art.data.tags | filterTagList %} #}
            {% for tag in art.data.tags %}
            {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
            {% endfor %}
        </li>
    </ul>
</div>