<div>
  <div></div>
  <div>
  <time datetime="{{ brag.data.date | htmlDateString }}">{{ brag.data.date | readableDate }}</time>
    <br/>
    <h2><span>{{ brag.data.icon }}</span> {{ brag.data.title }}</h2>
    <div>
        {{ brag.templateContent | safe }}
    </div>
  </div>
  <div>
  {% for category in brag.data.categories %}
    <span># {{category}}</span>
  {% endfor %}
  </div>
</div>