<div>
  <div>
    <h2><span>{{ brag.data.icon }}</span> {{ brag.data.title }}</h2>
    <time datetime="{{ brag.data.date | htmlDateString }}" class="text-500 gap-right-300 color-secondary"><em>{{ brag.data.date | readableDate }}</em></time>
    <div>
        {{ brag.templateContent | safe }}
    </div>
  </div>
  <div>
  {% for category in brag.data.categories %}
    <span># {{category}}</span>
  {% endfor %}
  </div>
</div>