<p>Credits:</p>
<div><a target="_blank" href="https://www.bragdocs.com/">Bragdocs</a> inspired theme built with <a target="_blank" href="https://www.11ty.dev/">11ty</a></div>
<div>Built using the tutorial <a target="_blank" href="https://css-tricks.com/creating-your-own-bragdoc-with-eleventy/">Creating your own Bragdoc with Eleventy</a> by <a target="_blank" href="https://emilyyleung.github.io/">Emily Y Leung</a></div>